* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 60px;
  display: block;
  width: auto;
  cursor: pointer;
}

.header-right a {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 6px 14px;
}

.header-right a:hover {
  background-color: #fe8920;
  color: white;
}

nav {
  text-align: center;
  padding: 10px 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
}

nav a:hover {
  color: #fe8920;
}

footer {
  background-color: #ffbb80fa;
  color: #000000;
  padding: 20px 40px 0 40px;
  margin-top: auto;
  font-family: "inter", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-left {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-basis: 50%;
}

.footer-left img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.footer-text h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-text p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-right h4 {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-nav-links {
  display: flex;
  gap: 40px;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.footer-nav a:hover {
  color: white;
}

.footer-copyright {
  text-align: center;
  padding: 14px 0;
  margin-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
}
