/* Zac, path0171 */
/* Contact Us CSS */
/* Version 1.0.0 */

body {
  background: #ffe8cc;
  font-size: 14px;
  font-family: "inter", sans-serif;
}

.container {
  width: 80%;
  margin: 40px auto;
}

.contact-box {
  background: rgb(255, 255, 255);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.contact-box-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-box-right {
  flex-basis: 40%;
  padding: 40px;
  background: #ffa75a;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  text-align: center;
}

.container p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.input-group {
  margin-bottom: 18px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fe8920;
  outline: none;
  padding: 6px 2px;
  background: transparent;
  font-size: 14px;
  font-family: "inter", sans-serif;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fe8920;
  outline: none;
  padding: 6px 2px;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  font-family: "inter", sans-serif;
  resize: none;
}

label {
  margin-bottom: 6px;
  display: block;
  font-weight: bold;
}

button {
  background: #fe8920;
  width: 100px;
  border: none;
  color: white;
  height: 35px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

button:hover {
  background: #e07510;
}

#confirmation {
  padding: 20px 0;
}

#confirmation h3 {
  color: #fe8920;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 14px;
  text-align: center;
}

#confirmation p {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.reset-btn {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 50px;
  font-size: 16px;
}

.contact-box-left h3 {
  color: #fe8920;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-box-right h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr td {
  padding: 10px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  font-weight: bold;
  width: 80px;
}

iframe {
  border-radius: 20px;
}

.map-container {
  margin-top: 30px;
  text-align: center;
}
